
<div *ngFor="let x of [0,1,2,3,4,5]">
  <button class="hidden btn" id="moonBit{{x}}" onclick="flyer.showModal()">open modal</button>
  <dialog id="flyer{{x}}"  class="bg-transparent border-none rounded-md outline-none w-fit z-48 drop-shadow-xl modal h-fit">
    <div class="max-w-[1200px] w-full bg-slate-50  mix-blend-color-dodge bg-gradient-to-br  ">
        <div class="p-2 modal-box bg-stone-200 drop-shadow-xl min-w-fit w-full max-h-[80vh]">
          <div id="moonShadow{{x}}" class="static px-4 w-fit top-12"></div>
        </div>
        <div class="absolute p-0 m-0 top-2 right-2 modal-action">
          <form method="dialog">
            <button onclick="utils._modUp()" class="text-2xl text-red-800 bg-slate-300 btn-sm btn-circle">x</button>
          </form>
        </div>
    </div>
  </dialog>
</div>

<div class="federal-container">

<button-nav  *ngFor="let item of AGENCIES" (click)="activatePage(item)"  id="{{item}}agency" class="agencyGroup">{{item}}</button-nav>

<ng-container *ngIf="selectedAgency!=''">
    <div class="h-1 w-full border-t-1 mt-[6px]  bg-slate-500 rounded-tl-3xl border-slate-600 sticky top-0 "></div>
    <div class="flex" id="frontPage-{{selectedAgency}}" >
        <label class="w-10 text-lg swap swap-flip" >
                <input type="checkbox" (click)="toggleFront()" />
                <div class="swap-on">△</div>
                <div class="swap-off">▽</div>
        </label>
        <h2 [hidden]="isOff">THIS IS THE FRONT PAGE OF <b class="text-4xl font-extrabold text-red-400 drop-shadow-xl" >{{selectedAgency}}</b>
        </h2>
    </div>
    <dva-api  [hidden]="selectedAgency!=='DVA'"></dva-api>
    <opm-api  [hidden]="selectedAgency!=='OPM'"></opm-api>
    <un-api  [hidden]="selectedAgency!=='UN'"></un-api>
    <nasa-api [hidden]="selectedAgency!=='NASA'"></nasa-api>
    <treasury-api [hidden]="selectedAgency!=='TREASURY'"></treasury-api>

</ng-container>


</div>



