<ng-container *ngIf="isReady">
          <div [hidden]="SectionsList.length===0" class="w-fit" >
                    <button-nav  *ngFor="let section of SectionsList; let i=index" (click)="selectNext(section,i)"
                    id="{{agencyName+'_section' + i}}" class="section-tab-{{agencyName}}">{{section.split(svc.delimiter)[0]}}
                    </button-nav>
          </div>
          <hr [hidden]="rootLevel<2">
</ng-container>


<!-- 
########  #######  ########  ##     ## 
##       ##     ## ##     ## ###   ### 
##       ##     ## ##     ## #### #### 
######   ##     ## ########  ## ### ## 
##       ##     ## ##   ##   ##     ## 
##       ##     ## ##    ##  ##     ## 
##        #######  ##     ## ##     ##  -->

<form #parentContainer>

          <div class="flex mt-1 ">
                    <div  class="h-fit dummy min-w-fit" id="outputPanel1"></div>
                    <div  class="h-fit dummy max-h-[800px] overflow-scroll" id="outputPanel2"></div>
                    <div  class="h-fit dummy max-h-[800px] overflow-scroll" id="outputPanel3"></div>
                    <div  class="h-fit dummy" id="outputPanel4"></div>
          </div>

 <div class="hidden">         
          <input type="text" class="w-[500px] dummy" name="isSpecial"         id="isSpecial"   >
          <input type="text" class="w-[500px] dummy" name="agencyFields"   id="agencyFields"   >
          <input type="text" class="w-[500px] dummy" 
          name="agency"        id="agency"  >
          <input type="text" class="w-[500px] dummy" name="areaAPI"           id="areaAPI"   >
          <input type="text" class="w-[500px] dummy" name="paramObject"       id="paramObject"  >
          <input type="text" class="w-[500px] dummy" name="endPoint"          id="endPoint"   >
          <div id="urlValue"></div>
      
      
          <button class="navButton dummy" id="htmxTrigger" name="htmxTrigger" 
          hx-post="http://localhost:3000/htmx-fetch-fields"
          hx-swap="innerHTML"
          hx-target="#outputPanel1">HTMX TRIGGER</button>
      
          <button class="navButton dummy" name="triggerFinger" id="triggerData"
          hx-post="http://localhost:3000/htmx-fetch-data"
          hx-swap="innerHTML"
          hx-target="#outputPanel2" >Fetch Data</button>
      
          <button class="navButton dummy" id="triggerProto" name="triggerProto" 
          hx-post="http://localhost:3000/htmx-fetch-proto"
          hx-swap="innerHTML"
          hx-target="#outputPanel3">PROTO CLICKER</button>
</div>    
               
 </form>
      