@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind typography; */

h1,h2,h3,h4,p  {
    @apply mt-1 mb-0 !important;
}

.GRID{
    @apply container w-full justify-start !important;;
}
.CRISS{
    @apply GRID !important;;
}
.CROSS{
    @apply flex w-full !important;;
}


.page-tab {
    @apply drop-shadow-lg;
}

button {
    @apply btn-success btn;
}


button-nav {
    @apply btn text-sm  mr-2 h-8 bg-slate-500 text-stone-100  cursor-pointer
    hover:bg-slate-600 min-w-24 w-fit !important;
}

api-value {
    @apply  w-full  min-w-[500px] text-stone-700 font-extralight first-letter:capitalize !important; ;
}

api-key {
    @apply  min-w-[250px] text-sm font-bold !important;;
}

api-object {
  @apply CROSS !important;;
}

api-node {
  @apply GRID rounded-sm drop-shadow-md  border-red-400 !important;;
}


.fetchButton {
    @apply btn bg-slate-600 btn-xs m-0 my-2 px-2 text-stone-100 h-5 w-fit  !important;
}

.fetchDate {
    @apply btn bg-slate-600 mx-1 p-1 btn-sm text-stone-100  !important;
}


.submitBtn{
    @apply btn btn-disabled cursor-none btn-sm py-0 w-fit bg-orange-300 font-bold m-1 !important;
}

.htmxOutput{
    @apply container grid p-2 border-indigo-300 m-2 drop-shadow-lg border-2 bg-stone-100 !important;;
}

htmx {
    @apply htmxOutput p-4 max-w-fit !important;
}

api-array {
    @apply CRISS ;
}

api-root {
    @apply GRID !important;
}

.dollar {
    @apply before:content-["＄"] !important;
}

.time {
    @apply before:content-["㊉"] !important ;
}

.date {
    @apply before:content-["YYYY-MM-DD"] !important;
}

.checkbox, .toggle {
    @apply text-white h-12 bg-slate-700 text-xs cursor-pointer border-slate-200  outline-1 outline outline-slate-500 border font-extrabold  !important;
}

.api-div, api-div{
    @apply grid justify-start container drop-shadow-md w-full bg-stone-200  px-2 mb-2 !important;
}

.api-section, api-section{
    @apply  grid container drop-shadow-sm w-fit  px-2 m-2  !important;
}


api-header{
    @apply text-lg rounded-t-md  bg-slate-500 w-full text-rose-100 !important;
}

.dataFields{
    @apply m-2 p-1 w-fit hover:text-orange-600  !important;
}


input {
    @apply max-w-36 max-h-7 py-2 mb-2 rounded-sm cursor-pointer bg-indigo-100  hover:bg-amber-100 !important;
}

.agency-selector{
    @apply  bg-amber-200 rounded-t-md hover:bg-amber-100;
}

table {
    @apply drop-shadow-xl max-w-full  rounded-t-md pb-2 overflow-clip !important;
}

tbody {
  @apply   outline-1  outline outline-slate-300 py-4 mb-4 max-w-full !important;
}

thead, caption{
    @apply tableHead;
}

.th{
  @apply tableHead px-3 rounded-none !important;
}

.tableHead{
  @apply p-0 m-0 text-xl text-white rounded-t-lg bg-slate-700 h-9 max-w-full !important;
}

td > a{
    @apply px-2 py-1  text-stone-800  !important;
}

a{
    @apply px-2 py-1  text-blue-500  !important;
}


th, td {
    @apply px-2 text-left;
}


.muted{
    @apply  brightness-50  !important;
}

.deactivated {
    @apply pointer-events-none disabled !important;
}

.activated {
    @apply pointer-events-auto !important;
}

button-submit{
    @apply btn text-sm bg-teal-200 hover:bg-amber-300 min-w-24 !important;
}

hr {
    @apply outline outline-1 outline-stone-100 h-[2px] my-2;
}
.agency-button{
    @apply bg-teal-400 hover:bg-amber-200;
}

.selectedItem {
    @apply font-bold before:content-["☑️"]  !important  ;
}

.orbit {
    @apply pl-2   !important;
}

.selectedSection {
    @apply
    btn rounded-l-3xl m-2  bg-slate-600 text-lg  text-white  font-extrabold deactivated  before:content-["▶"]  !important  ;
}

.selectedCategory {
    @apply  btn rounded-tr-3xl  translate-x-4 text-white before:content-["▶"]  drop-shadow-lg !important  ;
}
.categorySelect {
    @apply  justify-start !important ;
}

.navButton {
    @apply text-sm bg-teal-200 btn hover:bg-amber-300 min-w-24 ;
}

nav-link {
    @apply text-sm m-2 py-2 cursor-pointer text-stone-700 font-extralight hover:bg-amber-300 min-w-24 !important ;
}

#extraFilter{
    @apply w-full pb-2 bg-stone-100;
}

.nodeButton{
    @apply text-2xl text-white btn bg-amber-500;
}


.urlMedia{
    @apply  text-3xl duration-300 cursor-pointer hover:animate-bounce hover:text-green-500 text-amber-600 hover:scale-150 hover:rotate-12;
}

.item-selector{
    @apply  hover:bg-amber-300 cursor-pointer !important;
}

.orbit-launcher{
    @apply text-lg min-h-full pl-6  my-2 cursor-pointer  !important;
}


.selected-orbit {
    @apply  rounded-l-2xl pr-8 w-full font-bold text-stone-300 text-right bg-gradient-to-tr brightness-110 from-indigo-200 to-slate-700 deactivated  !important  ;
}


p{
    @apply py-0 !important;
}


.imgThumb {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-image: url('assets/images/nasa_icon.png'); /* Set the icon image as the background */
}

.imgThumb img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imgThumb .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imgThumb:hover img {
    opacity: 1;
}

.dropdownContent {
  @apply dropdown-content p-2 fixed z-10 bg-zinc-200 -translate-y-16 min-w-fit ring-1  rounded-box !important;
}

.launcher {
  @apply bg-transparent align-top drop-shadow-md dataFields !important;
}

.blaster {
  @apply font-mono font-thin align-top pl-8 w-52  min-w-52 flex-auto text-stone-700
      text-nowrap cursor-pointer dataFields  !important;
}

.orbiter {
  @apply align-top w-full max-w-full z-40  bg-transparent drop-shadow-2xl shadow-rose-400  !important;
}

.upper-container, upper-container{
  @apply align-top capsule-header bg-slate-600 text-sm  !important;
}


.capsule-header{
  @apply align-top w-fit min-w-full text-3xl h-full rounded-t-3xl text-white !important;
}

.bottom-container{
  @apply max-h-[800px] z-20 align-top outline  min-w-full outline-slate-500 bg-stone-50 outline-1 p-0 m-0 w-full h-fit overflow-x-hidden overflow-y-auto !important;
}


.federal-container{
  @apply w-full xl:max-w-[1500px] lg:max-w-[1200px] md:max-w-[900px] max-h-[90vh]  mx-0 p-0 my-2 border-none outline-none select-none text-stone-800 font-thin overflow-hidden !important;
}

.h1 {
  @apply text-2xl !important;
}

.h2 {
  @apply text-xl !important;
}

.h3 {
    @apply text-lg !important;
}
/*
.h4 {
  @apply text-md;
} */

.h5 {
  @apply text-sm !important;
}

.h6 {
  @apply text-xs !important;
}
/*
.sections{
  @apply px-3 m-0 bg-slate-300 ;
} */
